<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<context:annotation-config />
	<!-- ***********************模板引擎配置2********************** -->
	<mvc:annotation-driven />
	<context:component-scan base-package="com.*.action" />
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="UTF-8" />
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/page/" p:suffix=".jsp" />
		
	<!-- 定义相关的拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截的URL -->
			<mvc:mapping path="/*/*.action"/>
			<mvc:mapping path="/*/*/*.action"/>
			<!-- 配置相关的拦截器 -->
			<bean class="com.base.interceptor.OperatorInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>
